BasedOnStyle: Microsoft
IndentWidth: 4
AccessModifierOffset: '-4'
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
UseTab: Never
AllowShortFunctionsOnASingleLine: None
NamespaceIndentation: All
FixNamespaceComments: false
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeLambdaBody: false