#include "scrDbg.h"
#include <Windows.h>

IDI_ICON1 ICON "../../resources/scrDbg.ico"
NATIVES_BIN RCDATA "../../resources/natives.bin"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION SCRDBG_FILEVERSION
  PRODUCTVERSION SCRDBG_PRODUCTVERSION
  FILEFLAGSMASK 0x3FL
  FILEFLAGS 0
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
      BLOCK "040904B0"
      BEGIN
          VALUE "FileDescription", SCRDBG_APP_FILE_DESCRIPTION
          VALUE "FileVersion", SCRDBG_FILE_VERSION
          VALUE "ProductName", SCRDBG_APP_PRODUCT_NAME
          VALUE "ProductVersion", SCRDBG_PRODUCT_VERSION
      END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x0409, 1200
  END
END